<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>天亮教育</title>
</head>
<body>
   <h1>以下为测试用例列表页</h1>
   <ul>
      <li><a href="./">返回首页</a></li>
      <li><a href="getString">直接返回字符串</a></li>
      <li><a href="weibo">返回静态页面</a></li>
      <li><a href="dynamic">静态值填充动态值</a></li>
      <li><a href="dynamic_v2?nickname=偶像">动态值填充动态值</a></li>
      <li><a href="wordcloud_original">原生-词云图</a></li>
      <li><a href="wordcloud">微博热点-词云图</a></li>
   </ul>
</body>
</html>